/* color */
@import "color";

/* default */
$item: 300px;
$main-height: $item * 15;
ons-toolbar {
    text-align: center;
    .title {
        color: white;
        font-size: 22px;
    }
}
ons-carousel {
    height: $main-height;
}
.tab {
    height: 45px;
    //position: fixed;
    //top: 0px;
    //width: 100%;

    .btn {
        height: 45px;
        width: 50%;
        float: left;
        font-size: 18px;
        background-color: white;
        text-align: center;
        span {
            position: relative;
            top: 15px;
        }
    }
    .active {
        border-bottom: 5px solid $main-color;
    }
}
.card {
    background-color: white;
    margin-bottom: 20px;
    img {
        height: 243px;
        width: 100%;
        overflow: hidden;
    }
    .card-block {
        margin-left: 25px;
        margin-right: 25px;
        border-bottom: 2px solid #CCC;
        .title {
            font-size: 18px;
            color: $main-color;
            display: block;
        }
        .foods {
            font-size: 13px;
        }
    }
}
/* other
 * {
 -webkit-touch-callout: none;
 }
 *:not(input){
 -webkit-user-select: none;
 }
 */
